<div class="container">
  <h1>会員一覧</h1>

  <table class="table table-bordered">
    <thead class="table-head" style="background-color:#F5F5F5;" >
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each_with_index do |customer, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <%= link_to customer.last_name, admin_customer_path(customer.id) %>
          <%= link_to customer.first_name, admin_customer_path(customer.id) %>
        </td>
        <td><%= customer.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>