/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/*ここからヘッダー*/
header {
  width: 100%;
  padding: 35px 0;
  border-bottom-color: black;
  border-bottom: solid 3px black;
  top: 0;
  display: flex;
  align-items: center;
}

nav {
  margin: 0 0 0 auto ;
}

.nav-list-item {
  margin: 0;
  list-style: none;
  display: inline-block;
}

.btn {
  padding: 3px;
  text-decoration: none;
  color: black;
}

.btn:hover {
  color : #ff7043;
}

/*ここからcontainer*/

.container {
  height: 600px;
  
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th {
  background-color: #EEEEEE;
}
table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.btn-warapper {
  position: relative;

}

.btn-real {
  position: absolute;
  top: px;
  right: 10px;
  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.btn-real:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

/*ここからフッター*/
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: solid 3px black;
}